<h1>All Tags at the system</h1>

<table id="tags">
  <% @tag.each do |tag| %>
    <tr>
      <td><%= link_to tag.name, tag_path(tag) %></td>
      <td><%= link_to "delete",tag_path(tag), method: :delete , data: {confirm: "Really delete the tag?"} %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to "<< Back to Articles List", articles_path %>